version: "3.9"

services:

  rabbit:
    image: rabbitmq:3.12-management
    ports:
      - "5672:5672"
      - "15672:15672"
    logging:
      driver: "none"

  notification:
    build: ./backend/services/notification
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - rabbit
